.encryptedpasswords {
    position: relative;
    display: inline-block;
    background-color: __background_alt__;
    padding: 0 3px;
}

.encryptedpasswords a:hover {
    text-decoration: underline;
}

.encryptedpasswords .recrypt {
    display: none;
    font-size: 80%;
    color: __text_alt__;
}

.encryptedpasswords:hover .recrypt {
    display: inline;
}